{erl_opts, [debug_info]}.

{deps, [
    {lfe, "~> 2.2"}
]}.

{project_plugins, [
    {rebar3_lfe, "~> 0.4"},
    rebar3_hex
]}.

{provider_hooks, [
    {pre, [{compile, {lfe, compile}}]}
]}.

{profiles, [
    {test, [
        {erl_opts, [
            {src_dirs, ["src", "test"]}
        ]},
        {eunit_opts, [verbose]},
        {deps, [
            {proper, "~> 1.5"},
            {ltest, "~> 0.13"}
        ]},
        {plugins, [
            {rebar3_proper, "~> 0.12"}
        ]}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [unknown]}
]}.


{alias, [
    {test, [
        compile,
        {lfe, ltest, "tall"}
    ]},
    {coverage, [
        {proper, "-c"},
        {cover, "-v --min_coverage=0"}
    ]},
    {check, [
        compile,
        %%xref,
        %%dialyzer,
        test,
        coverage
    ]},
    %% The following should be run with `rebar3 publish`:
    {publish, [
        compile,
        {hex, "publish package"}
    ]}
]}.
